<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<form action="/" method="get">
        <button type="submit">Home</button>
    </form>
    <form action="/lista" method="get">
        <button type="submit">Lista de compras</button>
    </form>
    <form action="/contacts" method="get">
      <button type="submit">Contactos</button>
    </form>
    
    <title>Document</title>
</head>
<body>
    
</body>
</html>